.listitem {
    border-bottom: 1px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
    .listitem__header {
        a {
            padding-left: 60px;
            display: flex;
            min-height: 44px;
            position: relative;
            padding-right: 30px;
        }
    }
    .listitem__icon {
        position: absolute;
        left: 0;
    }
    .listitem__arrow {
        position: absolute;
        right: 0;
        width: 0; 
        height: 0; 
        top: 50%;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #FFFFFF;
    }
    .listitem__block {
        padding-left: 60px;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 15px;
    }
}